code2seq>=1.0.1
pytorch-lightning==1.4.2
lightning-bolts==0.3.4
flake8==3.9.2
tqdm>=4.62.1
wandb==0.12.0
pytest>=6.2.4
wget>=3.2
split-folders==0.4.3
omegaconf==2.1.1
youtokentome==1.0.6
torchmetrics==0.5.0
joblib>=1.0.1