flake8==3.8.4
pytorch-lightning==1.1.7
pytorch-lightning-bolts==0.3.0
torch==1.7.1
tqdm~=4.58.0
wandb==0.10.20
pytest~=6.1.2
torchvision~=0.8.2
wget~=3.2
split-folders==0.4.3
omegaconf~=2.0.6
code2seq~=0.0.2
pexpect~=4.8.0
torch-scatter==2.0.6
torch-sparse==0.6.9
torch-cluster==1.5.9
torch-spline-conv==1.2.1
torch-geometric==1.6.3
